
---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import EverythingInOne from '../components/EverythingInOne.astro';
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';
import pawsBg from 'public/paws-built-for-groomers.png'
import { Icon } from 'astro-icon/components';
import mobileSectionImageSrc from 'public/mobile_section_image.png'
---

<Layout title="Savvy Pet - Pet grooming business the Savvy way">
	<Hero />
	<EverythingInOne />
	
	<!-- About Section -->
	<section class="flex flex-col gap-16 items-center px-[135px] py-[119px] w-full">
				<div class="flex flex-col gap-4 w-full">
					<h1 class="font-family-mona font-bold text-[#242c39] text-[52px] text-center leading-[62px]">
						One Account. Every Device. Total Control.
					</h1>
				</div>
			
			<!-- Desktop/Mobile Section -->
				<Card>
					<div class="flex flex-col gap-[15px] w-[424px]">
						<div class="flex flex-col gap-6 text-left">
							<h2 class="font-['Mona_Sans',_sans-serif] font-semibold text-[#242c39] text-[48px] leading-none">
								Use Savvy Pet on Laptop, Tablet or Mobile
							</h2>
							<p class="font-['Mona_Sans',_sans-serif] font-normal leading-[30px] text-[#656689] text-[16px]">
								Savvy Pet works seamlessly across desktop, tablet, and mobile—so you can manage appointments, check your schedule, and stay in control from anywhere.
							</p>
						</div>
					</div>
					<div class="basis-0 bg-[#ddf0ff] grow h-[460px] min-h-px min-w-px overflow-clip relative rounded-3xl shrink-0">
						<div class="absolute contents left-[-63px] top-[47px]">
							<div class="absolute bottom-[16.96%] left-[-10.19%] right-[1.94%] top-[78.56%]">
								<div class="absolute bottom-[-19.38%] left-[-0.6%] right-[-0.6%] top-[-19.38%]">
									<img alt="" class="block max-w-none size-full" loading="lazy" src="/8e56288f0fea687b2c65532b3da4236b1a088d76.svg" />
								</div>
							</div>
							<div class="absolute bottom-[18.92%] contents left-[-0.83%] right-[9.56%] top-[10.22%]">
								<div class="absolute bottom-[21.3%] left-[4.85%] right-[14.89%] top-[10.22%]">
									<img alt="" class="block max-w-none size-full" src="/46d8c84cb12df67d228501c92517a47aa3e9729a.svg" />
								</div>
								<div class="absolute bottom-[21.54%] left-[5.02%] right-[15.21%] top-[10.7%]">
									<img alt="" class="block max-w-none size-full" src="/26829aa9b17d8d43354e748db9cfdb4e8a83c055.svg" />
								</div>
								<div class="absolute bottom-[22.93%] left-[12.75%] right-[23.9%] top-[73.88%]">
									<img alt="" class="block max-w-none size-full" loading="lazy" src="/ff87c88bb4a4f8c0b79df859e97374d04b0dbd09.svg" />
								</div>
								<div class="absolute bottom-[25.83%] left-[5.02%] right-[15.21%] top-[10.93%]">
									<img alt="" class="block max-w-none size-full" src="/20043e9a59c608738b4c0f6427cdfc166a468a6c.svg" />
								</div>
								<div class="absolute bottom-[26.31%] left-[5.18%] right-[15.37%] top-[11.17%]">
									<img alt="" class="block max-w-none size-full" src="/a43aa5bfd22f4fd560c7470e42319f63346747bc.svg" />
								</div>
							</div>
							<div class="absolute bottom-[29.13%] left-[7.12%] right-[17.48%] top-[13.7%]">
								<img alt="" class="block max-w-none size-full" height="263" src="/751a0f58319aff7cdabaf465ce4bdf586167d620.png" width="466" />
							</div>
							<div class="absolute bg-[#ffffff] h-[15px] left-[51px] top-[66px] w-10"></div>
							<div class="absolute bg-center bg-cover bg-no-repeat h-2 left-[47px] top-[69px] w-[48.711px]" style="background-image: url('/2f4ab7003481176c7393468292021926035f370e.png')"></div>
						</div>
						<div class="absolute bg-center bg-cover bg-no-repeat h-[262px] left-[347px] top-[178px] w-[243px]" style="background-image: url('/f2c8b2fd06b56505c05c6ff1cfe512fb6eaf950e.png')"></div>
					</div>
				</Card>
			
			<!-- Mobile Apps Section -->
				<Card>
					<div class="bg-[#e7e7e7] overflow-clip relative rounded-3xl self-stretch shrink-0 w-[543px]">
						<Image src={mobileSectionImageSrc} alt="Mobile section image"/>
					</div>
					<div class="flex flex-col gap-[15px] flex-1">
						<div class="flex flex-col gap-6 text-left">
							<h2 class="font-['Mona_Sans',_sans-serif] font-semibold text-[#242c39] text-[48px] leading-none">
								Savvy Pet Mobile Apps Are Here!
							</h2>
							<p class="font-['Mona_Sans',_sans-serif] font-normal leading-[30px] text-[#656689] text-[16px]">
								We've built two apps—one for groomers, and one for their customers. Groomers can manage their day-to-day with ease, while customers can book, pay, and stay updated—all from their phone.
							</p>
							<div class="flex flex-row gap-6 h-[57.185px] items-center">
								<Icon name="appstore" class="w-auto h-full"/>
									<img alt="Google Play" class="h-[57.185px] w-[193px]" src="/d3ec3c38d6fda2e589d860c57721e7c25ccecbdd.png" />
								</div>
							</div>
						</div>
					</div>
				</Card>
		
		<!-- Features Section -->
		
		<Card class="bg-[#f1f9ff] relative flex flex-col gap-8 items-center overflow-clip p-0 w-full">
			<Image src={pawsBg} class="absolute w-full h-auto"  alt="Paws background" /> 
			<div class="p-12 flex flex-col items-center overflow-clip gap-8">

				<div class="flex flex-col gap-4 text-center w-full relative z-10">
					<h2 class="font-['Mona_Sans',_sans-serif] font-bold text-[#242c39] text-[36px] leading-none">
						Built for Groomers, Loved by Businesses
					</h2>
					<p class="font-['Mona_Sans',_sans-serif] font-normal text-[#656689] text-[16px] leading-[30px]">
						Everything you need to run smoother, grow faster, and love your work more.
					</p>
				</div>
				<div class="flex flex-row gap-8 w-full relative z-10">
					<div class="flex-1 bg-[#ffffff] rounded-2xl relative">
						<div class="flex flex-row gap-5 items-start p-[24px] w-full">
							<div class="bg-[rgba(59,151,229,0.2)] rounded-[10.182px] size-7 flex items-center justify-center">
								<span class="text-[#3b97e5] text-[15.273px]">❤️</span>
							</div>
							<p class="flex-1 font-['Mona_Sans',_sans-serif] font-medium text-[#3b97e5] text-[24px] tracking-[0.24px]">
								Trusted by Top Grooming Salons
							</p>
						</div>
						<div aria-hidden="true" class="absolute border border-[#ebf6ff] inset-0 pointer-events-none rounded-2xl"></div>
					</div>
					<div class="flex-1 bg-[#ffffff] rounded-2xl relative">
						<div class="flex flex-row gap-5 items-start p-[24px] w-full">
							<div class="bg-[rgba(59,151,229,0.2)] rounded-[10.182px] size-7 flex items-center justify-center">
								<span class="text-[#3b97e5] text-[15.273px]">👍</span>
							</div>
							<p class="flex-1 font-['Mona_Sans',_sans-serif] font-medium text-[#3b97e5] text-[24px] tracking-[0.24px]">
								Easy to Use, No Tech Skills Required
							</p>
						</div>
						<div aria-hidden="true" class="absolute border border-[#ebf6ff] inset-0 pointer-events-none rounded-2xl"></div>
					</div>
					<div class="flex-1 bg-[#ffffff] rounded-2xl relative">
						<div class="flex flex-row gap-5 items-start p-[24px] w-full">
							<div class="bg-[rgba(59,151,229,0.2)] rounded-[10.182px] size-7 flex items-center justify-center">
								<span class="text-[#3b97e5] text-[15.273px]">🕒</span>
							</div>
							<p class="flex-1 font-['Mona_Sans',_sans-serif] font-medium text-[#3b97e5] text-[24px] tracking-[0.24px]">
								Customer Support from Real People
							</p>
						</div>
						<div aria-hidden="true" class="absolute border border-[#ebf6ff] inset-0 pointer-events-none rounded-2xl"></div>
					</div>
				</div>
				<div class="flex flex-row gap-8 items-center justify-center w-full relative z-10">
					<div class="bg-[#ffffff] rounded-2xl w-[336.667px] relative">
						<div class="flex flex-row gap-5 items-start p-[24px]">
							<div class="bg-[rgba(59,151,229,0.2)] rounded-[10.182px] size-7 flex items-center justify-center">
								<span class="text-[#3b97e5] text-[15.273px]">📅</span>
							</div>
							<p class="flex-1 font-['Mona_Sans',_sans-serif] font-medium text-[#3b97e5] text-[24px] tracking-[0.24px]">
								Integrations with GCal, PayPal, etc.
							</p>
						</div>
						<div aria-hidden="true" class="absolute border border-[#ebf6ff] inset-0 pointer-events-none rounded-2xl"></div>
					</div>
					<div class="bg-[#ffffff] rounded-2xl w-[336.667px] relative">
						<div class="flex flex-row gap-5 items-start p-[24px]">
							<div class="bg-[rgba(59,151,229,0.2)] rounded-[10.182px] size-7 flex items-center justify-center">
								<span class="text-[#3b97e5] text-[15.273px]">🏆</span>
							</div>
							<p class="flex-1 font-['Mona_Sans',_sans-serif] font-medium text-[#3b97e5] text-[24px] tracking-[0.24px]">
								Contracts & GDPR Compliance
							</p>
						</div>
						<div aria-hidden="true" class="absolute border border-[#ebf6ff] inset-0 pointer-events-none rounded-2xl"></div>
					</div>
				</div>
			</div>
		</Card>
	</section>
	
</Layout>