
---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import headerBg from '@/images/header-bg.png';

---

<Layout title="Savvy Pet - Pet grooming business the Savvy way">
	<div class="bg-gradient-to-br absolute -z-20 from-[#15bac6] to-[#0ea5e9]  w-full h-[758px]">
		<Image class="h-full w-full" alt="Header background icons" src={headerBg}/>

	</div>
	<main class=" flex  justify-center w-full h-[758px]">
		
		<section class="box-border flex mt-[138px] flex-col  items-center  gap-6 p-0 relative">
			<div class="font-['Mona_Sans',_sans-serif] font-bold leading-[0] relative shrink-0 text-[#ffffff] text-center w-[789px]">
				<h1 class="leading-none text-[64px] m-0">
					<span>Pet grooming business the </span>
					<span class="font-['Mona_Sans',_sans-serif] font-bold  text-[#ffe372]">
						Savvy
					</span>
					<span> way</span>
				</h1>
			</div>
			<div class="font-['Mona_Sans',_sans-serif] font-normal leading-[0] relative shrink-0 text-[#ffffff] text-[18px] text-center w-[789px]">
				<p class="leading-[30px] m-0 not-italic ">
					<span class="font-['Mona_Sans',_sans-serif]">Savvy helps pet groomers manage bookings, payments, and customer relationships effortlessly.  </span>
					<span class="font-['Mona_Sans',_sans-serif] font-bold">
						Anywhere, anytime.
					</span>
				</p>
			</div>
			<div class="box-border content-stretch flex flex-row gap-4 items-center justify-start p-0 relative shrink-0">
				<button class="bg-[#ffffff] border-none box-border content-stretch flex flex-row gap-3 items-center justify-start px-6 py-3 relative rounded-[31px] shadow-[0px_13px_26px_-8px_rgba(21,186,198,0.42)] shrink-0 hover:shadow-lg transition-shadow">
					<span class="font-['Mona_Sans',_sans-serif] font-medium leading-[16px] not-italic relative shrink-0 text-[#242c39] text-[16px] text-center text-nowrap">
						Subscribe Now
					</span>
					<div class="relative shrink-0 size-5">
						<div class="absolute bottom-[-65%] left-[-45%] right-[-45%] top-[-25%]">
							<Icon class="size-full" name="subscribe-now"/>
						</div>
					</div>
				</button>
				<button class="box-border content-stretch flex flex-row gap-3 items-center justify-start px-6 py-3 relative rounded-[31px] shrink-0 border border-[#ffffff] bg-transparent border-solid shadow-[0px_13px_26px_-8px_rgba(21,186,198,0.42)] hover:shadow-lg transition-shadow">
					<span class="font-['Mona_Sans',_sans-serif] font-normal leading-[16px] not-italic relative shrink-0 text-[#ffffff] text-[16px] text-center text-nowrap">
						Watch a Demo
					</span>
				</button>
			</div>
		</section>
	</main>
</Layout>