---
import { cn } from "@/lib/utils";

const { class: className = "" } = Astro.props;

---

<div class={cn("bg-[#ffffff] box-border content-stretch flex flex-row gap-8 items-start justify-start p-[48px] relative rounded-[48px] shadow-[0px_40px_40.7px_-16.588px_rgba(168,187,188,0.19),0px_12px_24.675px_0px_rgba(173,182,183,0.27)] w-full", className)}>
  <slot />
</div>