---
import EverythingInOneTabs from "./EverythingInOneTabs.tsx";
---
<section class="flex  box-border content-stretch flex-col gap-16 shrink-0 items-center w-full justify-start pb-10 pt-[119px] px-[135px] relative h-full">
  <div class=" flex flex-col gap-8 items-center justify-start p-0 relative shrink-0">
    <div class=" flex flex-col gap-4 items-start justify-start leading-[0] not-italic p-0 relative shrink-0 text-center w-full">
      <div class="font-family-mona font-bold relative shrink-0 text-[#242c39] text-[0px] w-[1200px]">
        <p class="leading-[62px] text-[52px]">
          <span>Everything</span>
          <span class="font-family-mona font-bold not-italic text-[#242c39]"> in One Platform</span>
        </p>
      </div>
      <div class="font-family-mona font-normal min-w-full relative shrink-0 text-[#656689] text-[16px]" style="width: min-content">
        <p class="block leading-[30px]">
          From small startups to thriving enterprises, we help pet
          professionals grow, streamline, and succeed.
        </p>
      </div>
    </div>
  </div>
  
  <EverythingInOneTabs client:load />
  
  <!-- Bottom CTA Section -->
  <div class=" flex flex-row gap-2 items-center justify-start px-8 py-6 relative rounded-2xl shrink-0 w-full">
    <div aria-hidden="true" class="absolute border border-[#e3edee] border-solid inset-0 pointer-events-none rounded-2xl"></div>
    <div class="basis-0  flex flex-col gap-2 grow items-start justify-start min-h-px min-w-px p-0 relative shrink-0">
      <div class=" flex flex-row gap-2 items-center justify-start p-0 relative shrink-0 w-full">
        <div class="font-family-mona font-semibold leading-[0] not-italic relative shrink-0 text-[#242c39] text-[0px] text-left text-nowrap">
          <p class="leading-none text-[32px]">
            <span>Curious about </span>
            <span class="font-family-mona font-semibold not-italic text-[#242c39]">Savvy Pet</span>
            <span>? </span>
          </p>
        </div>
        <div class="h-[23.557px] relative shrink-0 w-[50.661px]">
          <img alt="" class="block max-w-none size-full" loading="lazy" src="/ddc019e1dbcdbce97ca00c73b1edd1df6521a57c.svg" />
        </div>
      </div>
      <div class="font-family-mona font-normal leading-[0] not-italic relative shrink-0 text-[#656689] text-[16px] text-left w-full">
        <p class="block leading-[30px]">
          Try a plan, Watch a Demo, or drop us a message—we're here to help
          you find your perfect fit!
        </p>
      </div>
    </div>
    <div class=" flex flex-col gap-2 items-end justify-start p-0 relative shrink-0">
      <div class=" flex flex-row gap-2 items-center justify-start p-0 relative shrink-0">
        <div class="bg-[#15bac6]  flex flex-row gap-2 items-start justify-center px-4 py-2 relative rounded-[88px] shrink-0">
          <div class="font-family-mona font-medium leading-[0] not-italic relative shrink-0 text-[#ffffff] text-[16px] text-left text-nowrap">
            <p class="block leading-[22px] whitespace-pre">Free Trial</p>
          </div>
        </div>
        <div class=" flex flex-row gap-2 items-start justify-center px-4 py-2 relative rounded-[88px] shrink-0">
          <div aria-hidden="true" class="absolute border border-[#15bac6] border-solid inset-0 pointer-events-none rounded-[88px]"></div>
          <div class="font-family-mona font-medium leading-[0] not-italic relative shrink-0 text-[#15bac6] text-[16px] text-left text-nowrap">
            <p class="block leading-[22px] whitespace-pre">See Our Plans</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>