---
import { Image } from 'astro:assets';
import headerBg from '@/images/header-bg.png';
---

<div class="bg-gradient-to-br absolute -z-20 from-hero-primary to-hero-secondary w-full h-[758px]">
	<Image class="h-full w-full" alt="Header background icons" src={headerBg}/>
</div>