---
import HeroBackground from './HeroBackground.astro';
import HeroTitle from './HeroTitle.astro';
import HeroSubtitle from './HeroSubtitle.astro';
import HeroCTA from './HeroCTA.astro';
---

<HeroBackground />
<main class="flex justify-center w-full h-[758px]">
	<section class="box-border flex mt-[138px] flex-col items-center gap-6 p-0 relative">
		<HeroTitle />
		<HeroSubtitle />
		<HeroCTA />
	</section>
</main>