---
import { Icon } from 'astro-icon/components';
---

<div class="box-border content-stretch flex flex-row gap-4 items-center justify-start p-0 relative shrink-0">
	<button class="bg-hero-text border-none box-border content-stretch flex flex-row gap-3 items-center justify-start px-6 py-3 relative rounded-[31px] shadow-[0px_13px_26px_-8px_rgba(21,186,198,0.42)] shrink-0 hover:shadow-lg transition-shadow">
		<span class="font-mona font-medium leading-[16px] not-italic relative shrink-0 text-hero-button-text text-[16px] text-center text-nowrap">
			Subscribe Now
		</span>
		<div class="relative shrink-0 size-5">
			<div class="absolute bottom-[-65%] left-[-45%] right-[-45%] top-[-25%]">
				<Icon class="size-full" name="subscribe-now"/>
			</div>
		</div>
	</button>
	<button class="box-border content-stretch flex flex-row gap-3 items-center justify-start px-6 py-3 relative rounded-[31px] shrink-0 border border-hero-text bg-transparent border-solid shadow-[0px_13px_26px_-8px_rgba(21,186,198,0.42)] hover:shadow-lg transition-shadow">
		<span class="font-mona font-normal leading-[16px] not-italic relative shrink-0 text-hero-text text-[16px] text-center text-nowrap">
			Watch a Demo
		</span>
	</button>
</div>