---
---

<div class="font-mona font-bold leading-[0] relative shrink-0 text-hero-text text-center w-[789px]">
	<h1 class="leading-none text-[64px] m-0">
		<span>Pet grooming business the </span>
		<span class="font-mona font-bold text-hero-accent">
			Savvy
		</span>
		<span> way</span>
	</h1>
</div>