---
import { Icon } from 'astro-icon/components';
import { Button } from './ui/button';
---

<div class="box-border content-stretch flex flex-row gap-4 items-center justify-start p-0 relative shrink-0">
	<Button className="flex gap-3 items-center justify-start  shadow-[0px_13px_26px_-8px_rgba(21,186,198,0.42)]  hover:shadow-lg transition-shadow">
		<span class="font-mona font-medium leading-[16px] not-italic relative shrink-0 text-hero-button-text text-[16px] text-center text-nowrap">
			Subscribe Now
		</span>
		<div class="relative shrink-0 size-5">
			<div class="absolute bottom-[-65%] left-[-45%] right-[-45%] top-[-25%]">
				<Icon class="size-full" name="subscribe-now"/>
			</div>
		</div>
	</Button>
	<Button variant="secondary" className=" relative rounded-[31px] shrink-0 border border-hero-text bg-transparent  shadow-[0px_13px_26px_-8px_rgba(21,186,198,0.42)] hover:shadow-lg transition-shadow">
		<span class="font-mona font-normal leading-[16px] not-italic relative shrink-0 text-hero-text text-[16px] text-center text-nowrap">
			Watch a Demo
		</span>
	</Button>
</div>