---
---

<div class="font-mona font-normal leading-[0] relative shrink-0 text-hero-text text-[18px] text-center w-[789px]">
	<p class="leading-[30px] m-0 not-italic">
		<span class="font-mona">Savvy helps pet groomers manage bookings, payments, and customer relationships effortlessly.  </span>
		<span class="font-mona font-bold">
			Anywhere, anytime.
		</span>
	</p>
</div>