---
import { Icon } from "astro-icon/components";
import { Button } from "@/components/ui/button";
---

<!-- 
display: flex;
width: 1440px;
padding: 20px 145px;
justify-content: space-between;
align-items: center; -->
<div
  class="fixed top-0 box-border flex w-full items-center justify-between bg-transparent p-[20px_145px]"
>
  <Icon name="logo" width="212" height="38.4" />
  <div class="flex items-center gap-[39px]">
    <a
      class="text-[14px] leading-[14px] font-semibold text-white no-underline"
      href="#">Customers</a
    >
    <a
      class="text-[14px] leading-[14px] font-semibold text-white no-underline"
      href="#">Features</a
    >
    <a
      class="text-[14px] leading-[14px] font-semibold text-white no-underline"
      href="#">Pricing</a
    >
    <a
      class="text-[14px] leading-[14px] font-semibold text-white no-underline"
      href="#">About</a
    >
    <a
      class="text-[14px] leading-[14px] font-semibold text-white no-underline"
      href="#">Blog</a
    >
    <a
      class="text-[14px] leading-[14px] font-semibold text-white no-underline"
      href="#">FAQ</a
    >
  </div>
  <div class="flex gap-2">
    <Button> Subscribe now </Button>
    <Button variant="outline"> Log in </Button>
  </div>
</div>
